<?xml version="1.0"?>
<config>
    <modules>
        <Sozo_Jivochat>
            <version>1.0.0</version>
        </Sozo_Jivochat>
    </modules>
    <global>
        <helpers>
            <sozo_jivochat>
                <class>Sozo_Jivochat_Helper</class>
            </sozo_jivochat>
        </helpers>
        <blocks>
            <sozo_jivochat>
                <class>Sozo_Jivochat_Block</class>
            </sozo_jivochat>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <sozo_jivochat>
                    <file>sozo_jivochat.xml</file>
                </sozo_jivochat>
            </updates>
        </layout>
        <translate>
            <modules>
                <Sozo_Jivochat>
                    <files>
                        <default>Sozo_Jivochat.csv</default>
                    </files>
                </Sozo_Jivochat>
            </modules>
        </translate>
    </frontend>
    <default>
        <sozo_jivochat>
            <general>
                <enabled>0</enabled>
            </general>
            <chatsetup>
                <widget_id></widget_id>
            </chatsetup>
        </sozo_jivochat>
    </default>
</config>
