<?xml version="1.0"?>
<config>
    <tabs>
        <sozo translate="label" module="sozo_jivochat">
            <label>Jivochat</label>
            <sort_order>2001</sort_order>
        </sozo>
    </tabs>
    <sections>
        <sozo_jivochat translate="label" module="sozo_jivochat">
            <class>separator-top</class>
            <label>Jivochat</label>
            <tab>sozo</tab>
            <frontend_type>text</frontend_type>
            <sort_order>101</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[<a href="http://bit.ly/2gmEB0m" target="_blank" title="Go to Jivochat Website">Sign Up to Jivochat to get an account</a>]]></comment>
                    <fields>
                        <version>
                            <label>Version</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_model>sozo_jivochat/system_config_form_fieldset_extensions</frontend_model>
                        </version>
                        <!-- <user_guide>
                            <label>Documentations</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_model>sozo_jivochat/system_config_form_fieldset_documentations</frontend_model>
                        </user_guide> -->
                        <enabled translate="label" module="sozo_jivochat">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                    </fields>
                </general>
                <chatsetup translate="label" module="sozo_jivochat">
                    <label>Setup Information</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <widget_id translate="label" module="sozo_jivochat">
                            <label>Widget ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </widget_id>
                    </fields>
                </chatsetup>
            </groups>
        </sozo_jivochat>
    </sections>
</config>
